h1 {
  font-family: "Galindo", cursive;
  font-size: 3rem;
  color: #ffd706;
  display: inline;
}

body {
  background-color: #22577a;
}

footer,
header {
  display: grid;
  justify-content: center;
  margin: 2rem;
}

.game-section {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .game-section {
    display: block;
  }
}

.title-symbol {
  height: 2rem;
  width: 2rem;
}

.option-buttons {
  display: grid;
  justify-content: center;
}

.restart-button,
.rules-button,
.history-button {
  height: 3rem;
  width: 3rem;
  margin: 1rem;
}

@media screen and (max-width: 500px) {
  .restart-button,
  .rules-button,
  .history-button {
    height: 2rem;
    width: 2rem;
  }
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  background-color: #38a3a5;
}

.block {
  width: 4rem;
  height: 4rem;
  background-color: #ffd706;
}

.space {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#githubLink,
#LinkedIn,
.created-by {
  font-family: "Galindo", cursive;
  font-size: 1rem;
  text-decoration: none;
  color: #ffd706;
  margin: 0.5rem;
}

@media screen and (max-width: 500px) {
  #githubLink,
  #LinkedIn,
  .created-by {
    font-size: 0.6rem;
  }
}
