h1 {
  font-family: "Galindo", cursive;
  font-size: 3rem;
  color: #ffd706;
  display: inline;
}

body {
  background-color: #22577a;
}

footer,
header {
  display: grid;
  justify-content: center;
  margin: 2rem;
}

.game-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .game-section {
    display: block;
  }
}

.player-option-buttons {
  display: grid;
  place-items: center;
}
.pentago-landingpage-block {
  width: 10rem;
  height: 10rem;
}

.welcome-msg {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffd706;
  font-size: 1rem;
  text-align: center;
}
.two-player,
.three-player,
.four-player {
  display: block;
  margin-top: 2rem;
  font-family: "Galindo", cursive;
  font-size: 1rem;
  width: 8rem;
  height: 3rem;
  background-color: #f9efbc;
  color: #38a3a5;
  border-radius: 20px;
  border: none;
}
.title-symbol {
  height: 2rem;
  width: 2rem;
}

.option-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restart-button,
.rules-button,
.history-button {
  height: 4rem;
  width: 4rem;
  margin: 2rem;
}

@media screen and (max-width: 800px) {
  .restart-button,
  .rules-button,
  .history-button {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.game-display-contents {
  display: grid;
  justify-items: center;
}
.game-board {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 0.5rem; */
  background-color: #38a3a5;
}

.block {
  width: 7rem;
  height: 7rem;
  background-color: #ffd706;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: border 0.3s ease-in-out;
}

.choose-block {
  width: 7rem;
  height: 7rem;
  background-color: #ffd606d0;
  border: solid 2px blue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* .block:hover {
  opacity: 50%;
} */

.space {
  display: grid;
  gap: 1rem;
  justify-items: center;
  margin: -5px;
}

.space-button {
  place-self: center;
  background-color: #ffd706;
  color: #f9efbc;
  font-family: "Galindo", cursive;
  font-size: 1rem;
}

.space-button:hover {
  background-color: #38a3a5;
  opacity: 50%;
  margin: -5px;
  font-weight: 900;
  color: white;
}

.current-player-display {
  margin-top: 2rem;
  font-family: "Galindo", cursive;
  width: 5rem;
  height: 3rem;
  background-color: #f9efbc;
  color: #38a3a5;
}
#githubLink,
#LinkedIn,
.created-by {
  font-family: "Galindo", cursive;
  font-size: 1rem;
  text-decoration: none;
  color: #ffd706;
  margin: 0.5rem;
}

@media screen and (max-width: 625px) {
  #githubLink,
  #LinkedIn,
  .created-by {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 535px) {
  #githubLink,
  #LinkedIn,
  .created-by {
    font-size: 0.7rem;
  }
}
